<div class="toolbar">
    <div class="dvContainer">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 20 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#d7cec7" />
                <use xlink:href="#gentle-wave" x="50" y="5" fill="#565656" />
                <use xlink:href="#gentle-wave" x="50" y="7" fill="#763236" />
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#c09f80" />
            </g>
        </svg>
    </div>
    <div class="dvInsideTL">
        <img width="70" alt="Flora Logo" src="assets/icons/flora.jpg" />
        <label class="title-tag">Flora Exports</label>
        <div class="nav">
            <input type="checkbox">
            <span></span>
            <span></span>
              <div class="menu">
                <li><a href="/home">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/mens">mens products</a></li>
                <li><a href="/women">womens products</a></li>
                <li><a href="/women">accessories</a></li>
                <li><a href="/contact-us">contact us</a></li>
              </div>
          </div>
    </div>
</div>