<div class="toolbar">
  <div class="dvContainer">
    <svg class="waves" viewBox="0 20 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="50" y="3" fill="#d7cec7" />
        <use xlink:href="#gentle-wave" x="50" y="5" fill="#565656" />
        <use xlink:href="#gentle-wave" x="50" y="7" fill="#763236" />
        <use xlink:href="#gentle-wave" x="50" y="9" fill="#c09f80" />
      </g>
    </svg>
  </div>
  <div class="dvInsideTL">
    <img width="50" height="50" alt="Flora Logo" src="assets/icons/fe_logo.png" />
    <label class="title-tag">Flora Exports</label>
  </div>
  <div>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/home/home">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/home/mensprod">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Active</a>
      </li>
    </ul>
  </div>
</div>