@import "variables";
@import "theme";

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: $banner-background-color;
  color: $banner-color;
  font-weight: 800;
  overflow-x: hidden;
  overflow-y: hidden;
}

.toolbar img {
  margin: 0 20px;
}

.title-tag {
  font-size: 40px;
}

.spacer {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .title-tag {
    font-size: 30px;
  }
}
